FLASK_APP_NAME="CARHUB.IO(dev)"
FLASK_ENV=development
DOMAIN=localhost:5000
MARIADB_HOSTNAME=localhost
MARIADB_PORT=3306
MARIADB_DATABASE=carhubdb
MARIADB_TEST_DATABASE=carhubdb_test
MARIADB_USER=carhubdb_user
MARIADB_PASSWORD=carhubdb_password
MARIADB_ROOT_PASSWORD=uvlhubdb_root_password
FAKENODO_URL = "http://127.0.0.1:5000/api/deposit/datasets"
WORKING_DIR=""
