{%extends "base_template.html"%}

{%block title%}Communities List{%endblock%}

{%block content%}

    <div class="container mt-5">
        <h1 class="h3 mb-3">My communities</h1>
        <div class="list-group">
            {% for community in communities %}
                <a href="{{ url_for('community.view_community', community_id=community.id) }}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ community.name }}</h5>
                    <p class="mb-1">{{ community.description }}</p>
                </a>
            {% else %}
                <p>No communities found.</p>
            {% endfor %}
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{%endblock%}