name: Trunk to Render

on:
  push:
    branches:
      - trunk

jobs:
  testing:
    name: Run Tests
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: uvlhub_root_password
          MYSQL_DATABASE: carhubdb_test
          MYSQL_USER: carhub_user
          MYSQL_PASSWORD: carhub_password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        env:
          FLASK_ENV: testing
          MARIADB_HOSTNAME: 127.0.0.1
          MARIADB_PORT: 3306
          MARIADB_TEST_DATABASE: carhubdb_test
          MARIADB_USER: carhub_user
          MARIADB_PASSWORD: carhub_password
        run: |
          pytest app/modules/ --ignore-glob='*selenium*'

  deploy:
    name: Trunk 1 to Render
    needs: testing
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Trunk 1 to Render
        env:
          deploy_url: ${{ secrets.RENDER_TRUNK_HOOK_URL }}
        run: |
          curl "$deploy_url"
